ul {
  list-style: none;
  background: #9ee0ae;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;       
}

a:hover {
  background: #8df092;
}








